/* Modern CSS Reset */

/* 1. Use a more-intuitive box-sizing model. */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Allow percentage-based heights in the application */
html {
  height: 100%;
}

body {
  min-height: 100%;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* 4. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 5. Remove built-in form typography styles */
input, button, textarea, select {
  font: inherit;
}

/* 6. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 7. Remove list styles on ul, ol elements with a list role */
ul, ol {
  list-style: none;
}

/* 8. Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* 9. Links inherit color and no decoration */
a {
  text-decoration: none;
  color: inherit;
}
